<div>
    <p>Listo para trabajar con websockets</p>
</div>
{{!-- Así uso los archivos js --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

{{!-- Clase 10 - pag 41 --}}